<h1>Edit hike</h1>
<% if user_signed_in? %>
  <%= render 'form' %>
  <%= link_to 'Back', trips_path %>
<% else %>
  <p><%= link_to "sign up", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %> to edit this hike.</p>
<% end %>