<h1>Edit mountain</h1>

<!-- Really this should be for admin only, make sure to change this once you have admin set up -->
<% if user_signed_in? %> 
  <%= render 'form' %>
  <%= link_to 'Back', mountains_path %>
<% else %>
  <p>Only administrators can edit this page.</p>
<% end %>
