<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-body">
            checklists
          </div>
          <div class="panel-footer">  
            <ul class="list-group">
              <li class="list-group-item">NE Hundred Highest</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">NE Hundred Highest</li>
            </ul>
          </div>
          <div class="panel-footer">Panel footer</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-body">
            Height <a class="sort sort_column desc" id="height" href=" #">(sort by)</a> <a class="units">(meters/feet)</a>
          </div>
          <div class="panel-footer">
            <div class="btn-group filter heights">
              <button type="button" class="btn btn-default" id="four-k">4000' +</button>
              <button type="button" class="btn btn-default" id="three-four-k">3000-4000'</button>
              <button type="button" class="btn btn-default" id="below-three-k">below 3000'</button>
            </div>
          </div>
        </div>
      </li>
      <% if current_user.present? %>
        <li class="list-group-item">
          <div class="panel panel-default">
            <div class="panel-body">
              Filter by hiked/not hiked
            </div>
            <div class="panel-footer">
              <div class="btn-group filter hiked">
                <button type="button" class="btn btn-default" id="hiked-mountains">Hiked</button>
                <button type="button" class="btn btn-default" id="unhiked-mountains">Not hiked</button>
                <button type="button" class="btn btn-default">All</button>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <li class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-body">
            Name <a class="sort" id="name" href=" #">(sort by)</a>
          </div>
          <div class="panel-footer">Panel footer</div>
        </div>
      </li>
  </div>


  <div class="col-md-8">
    <ul class="list-group mountains">
      <% @mountains.each do |mountain| %>
        <li class="list-group-item"><%= link_to mountain.name, mountain %> <%= in_feet(mountain.height) %></li>
      <% end %>
    </ul>
  </div>
</div>
