<h1>New mountain</h1>

<!-- Really this should be for admin only, make sure to change this once you have admin set up -->
<% if user_signed_in? %> 
  <%= render 'form' %>
  <%= link_to 'Back', mountains_path %>
<% else %>
  <p><%= link_to "sign up", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %> to create a hike.</p>
<% end %>