//import original twitter bootstrap here
@import "twitter/bootstrap";
// @import "variables";
// = require leaflet

body { 
  background: url('sbeam-flickr.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background:rgba(255,255,255,0.6);
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.footer-nav {
  text-align: center;
}

.bottom-links {
  a {
    padding: 0px 30px 0px 30px;
  }
} 

.sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
  background-image: url(/images/up_arrow.gif);
}

.sortable th .desc {
  background-image: url(/images/down_arrow.gif);
}

.bottom-links {
  background:rgb(230,230,230);
  margin:0;
  width:100%;
  height:60px;
  padding-top:20px; 
}
.content-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: aliceblue;
  padding: 10px;
  margin-bottom: 20px;
}

.full-width-container {
  background: aliceblue;
  margin-bottom: 20px;
}

#four-map {
  height: 300px;
  border-top: 10px solid white; 
}
